apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.server.name }}
  namespace: {{ .Release.Namespace }}
  labels: {{- toYaml .Values.server.labels | nindent 4 }}
data:
{{- range $key, $value := .Values.server.configMap.data }}
  {{ $key }}: {{ $value | quote }}
{{- end }}
  config.yaml: |
    address: :8080
    serverURL: https://localhost:8080
    skipSecureVerify: true
    roles:
      Incident Commander: "Thde Incident Commander is the decision maker..."
      Communications Lead: "The purpose of the Communications Lead..."
    severities:
      SEV0 - Critical, High Impact: 'This signifies a critical production...'
      SEV1 - Major, Significant Impact: 'This signifies a significant...'
      SEV2 - Minor, Low Impact: 'This signifies a minor production...'
    statuses:
      - Started
      - Investigating
      - Identified
      - Mitigated
      - Resolved
    incidentTypes:
      - Availability
      - Latency
      - Security
      - Other
